* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.rellenoNegro1 {
    height: 52px;
    background-color: black;
}
.divBanner {
    display: flex;
    justify-content: center;
    background-color: black;
}
.logoBanner {
    text-align: center;
}
.rellenoNegro2 {
    height: 52px;
    background-color: black;
}
.seccionItemList {
    margin: 30px 80px;
}
.titulosItemList {
    font-family: 'Poppins';
    margin-bottom: 15px;
    text-transform: capitalize;
}
.articleItem {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}