* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.rellenoNegro1 {
    height: 41px;
    background-color: black;
}
.divBanner {
    display: flex;
    justify-content: center;
    background-color: black;
}
.logoBanner {
    text-align: center;
}
.rellenoNegro2 {
    height: 41px;
    background-color: black;
}