@import url('https://fonts.googleapis.com/css2?family=Inter&family=Josefin+Sans&family=Poppins&family=Source+Sans+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    font-family: 'Inter';
    color: white;
    padding: 0 15px;

}
.productos {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 60px;
}
.ul-productos {
    list-style: none;
    display: none;
    position: absolute;
}
.li-productos:hover > .ul-productos {
    display: block;
}
.ul-productos li {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-top: 30px;
    padding-bottom: 15px;
    height: 30px;
    width: 120px;
    background-color: black;
}
#accesorios {
    padding-bottom: 30px;
}
#robertoSanchez:hover {
    color: rgb(251, 255, 1);
    transition: 0.9s;
}