* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.divItemCount {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.divButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.addToCart {
    margin: 15px 0;
}
.stock {
    margin: 15px 0;
}
.countButtons {
    font-size: 20px;
    width: 40px;
}
.pCantidad {
    font-size: 20px;
}
.addToCart {
    padding: 5px;
    font-family: 'Inter';
}